backend/node_modules/
backend/npm-debug.log

backend/dist/
backend/build/
backend/.next/
s
.idea/
.vscode/
*.swp
*.swo
.DS_Store

backend/.env
backend/tokens.json

client/node_modules/
client/npm-debug.log

client/dist/
client/build/
client/.next/


client/.env